<div class ="container"  style="width: 500px;" > 
    <div class="row p-3 d-flex justify-content-center" >  
        <h1 class="text-warning bg-dark" >Migration form</h1>
    </div>
    <br>


    <div  *ngIf="isSubmitted; then thenBlock else elseBlock"></div> 
    <ng-template #thenBlock>
        <strong style="color:rgb(247, 145, 12)" >Thanks for filling in the form 😁🖖 </strong>
        <div></div>
        <br>
        <button type="button" class="btn btn-outline-info" (click)="toggleResults()">{{ showResults ? 'Hide Results' : 'Show Results'}}</button> <br> 
        <br>
        <div *ngIf="showResults">
            <p class="btn btn-dark" >  <span style="color: cornflowerblue;"> Total points </span> {{points}} </p>
            <p>{{ points >= 25 ? ' Congratulations you got enough points to continue 😎' : 'not enough to continue 😔' }}</p>
            <button class=" btn btn-dark " (click)="handleReset()">  <span style="color:cornflowerblue ;" >return </span> </button>
        </div>
    </ng-template>
    <ng-template #elseBlock>
        <form  class="form-check" #immigrationPoints="ngForm"
            (submit)="handleSubmit(immigrationPoints.value)">

            <label  class="fw-bold"  for="age"> <strong [style.color]="'black'">How Old Are You?</strong> </label>
            <br>
            <input  class="form-check-input"  type="radio" ngModel name="age" value="5">  <span  style="color: cornflowerblue;"> 18-25 🧑</span>
            <br>
            <input  class="form-check-input"  type="radio" ngModel name="age" value="15">    <span style="color: cornflowerblue;"> 26-45 👨</span>
            <br>
            <input  class="form-check-input"  type="radio" ngModel name="age" value="10"> <span  style="color: cornflowerblue;"> 46-99 🧑‍🦳</span> 
            <hr>
            <p >
                <label class="fw-bold" for="status"><strong> What Is Your Status?</strong></label>
                <br>
                <input   class="form-check-input" type="radio" ngModel name="status" value="10">  <span style="color: cornflowerblue;"> Single 🧍|🧍‍♀️ </span>
                <br>
                <input   class="form-check-input" type="radio" ngModel name="status" value="15"> <span style="color: cornflowerblue;">Married 🤵‍♂️👰‍♀️ </span> 
                <br>
                <input   class="form-check-input" type="radio" ngModel name="status" value="5"> <span  style="color: cornflowerblue;">Divorcee 🚶‍♂️|🚶‍♀️ </span> 

            </p>
            <hr>
            <p>
                <label  class="fw-bold" for="kids"> <strong> Do You Have Kids?👶 </strong> </label>
                <br>
                <input   class="form-check-input" type="radio" ngModel name="kids" value="10"> <span  style="color: cornflowerblue;"> none </span>
                <br>
                <input   class="form-check-input" type="radio" ngModel name="kids" value="15">  <span style="color: cornflowerblue;"> 1-2</span>
                <br>
                <input   class="form-check-input"type="radio" ngModel name="kids" value="20"> <span style="color: cornflowerblue;"> 2-2+</span> 
            </p>

            <button  class="btn btn-dark"   type="submit"> <span style="color: rgb(240, 198, 11);" > Send</span>  </button>
        </form>
    </ng-template>


</div>